aiohttp
altgraph
async-timeout
attrs
backports.entry-points-selectable
CacheControl
cachy
certifi
cffi
chardet
charset-normalizer
click
clikit
crashtest
cryptography
debugpy
discord
discordmongopy
discord.py
distlib
docopt
dukpy
filelock
Flask
future
html5lib
idna
importlib-metadata
itsdangerous
javascripthon
jedi
jeepney
Jinja2
keyring
lockfile
macropy3
MarkupSafe
motor
msgpack
multidict
mypy
mypy-extensions
numpy
packaging
parso
pastel
pexpect
pipreqs-amasad
pkginfo
platformdirs
pluggy
poetry
poetry-core
psutil
ptyprocess
pycparser
pyflakes
pyinstaller
pyinstaller-hooks-contrib
pylev
pyparsing
python-dotenv
python-lsp-jsonrpc
python-lsp-server
replit
requests
requests-toolbelt
rope
SecretStorage
shellingham
six
toml
tomli
tomlkit
typing-extensions
ujson
urllib3
virtualenv
webencodings
Werkzeug
yapf
yarg
yarl
zipp